.ui.borderless.inverted.topmenu.menu {
  margin-bottom: 100px;
}

.ui.grid {
  margin-left: auto;
  margin-right: auto;

}

.four.wide.column {
  width: 500px;
}

.ten.wide.stretched.column {

}

.ui.vertical.fluid.tabular.menu {

}

.ui.secondary.menu {
  margin: 0px;
  margin-bottom: -20px;
}

.title {
  color: #FFFFFF;
  font-size: 14pt;
  font-style: bold;
  margin: 5px;
  padding: 5px 0px 0px 0px;
  letter-spacing: 2px;
  font-family: "Verdana", "Arial";
}

.ui.segment {
  margin: 0px;
  padding-left: 30px;
  margin-top: 30px;
  font-size: 12pt;
}

.ui.button {

}

h1 {
  padding-left: 10px;
  font-size: 24pt;
}

/* .plus.square.icon {
    padding-left: 50px;
    margin-right: 20px;
} */

.four.wide.column {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

h2 {
  font-size: 18pt;
  margin: 0px;
  padding: 0px;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: #FFFFFF;
}

.plus.square.icon {

}

.four.wide.column {

}
